@import url('https://fonts.googleapis.com/css2family=Poppins:wght@400;700&display=swap');
$body-font-family: 'Poppins', sans-serif;

.ql-toolbar .ql-insertDate {
    /* Adjust size, color, and other styles using Vuetify classes */
    font-size: 16px;
    color: #333;
  }